<h1>Welcome Student</h1>

<p>Now you can build your resume very easily. Just Click on "New Resume" and make a resume for yourself, your family person, your friends.</p>
<%=link_to "New Resume", new_resume_path, class: "new_resume"%>

<ul id="resumes">
<% @resumes.each do |resume| %>
<li>
<%= link_to resume.name, resume_path(resume) %>
</li>
<%end%>
</ul>